@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
.navbar{
    padding: 0px;
    position: fixed;
    top: 0;
    width: 100%;
}
.nav-item{
    padding: 5px 15px;
    height: 100%;
}
.nav-item:hover{
    background-color: gray;
}
.nav-item:hover span{
    color: black;
}
.nav-item:hover .fa-bell{
    color: black;
}
.navbar-brand{
    background-color: rgba(29, 26, 26, 0.5);
    height: 100%;
    padding: 10px;
    margin: 0;
}
.logo2{
    width: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.golem{
    display: none;
}

main{
    margin-top: 50px;
}
sup{
    padding: 1px 8px;
    background-color: rgba(31, 146, 31, 0.788);
    border-radius: 50%;
}

.levo{
    width: 90%;
    margin: 80px auto;
}
.profil{
    padding: 10px 0px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.profilna{
    width: 30%;
    border-radius: 50%;
}
.info{
    margin-top: 20px;
    padding: 10px 0px;
    width: 90%;
    border-top: 1px solid rgba(10, 2, 2, 0.055);
}
.my{
    margin-top: 20px;
    background-color: #717786;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    padding: 10px 20px;
    border: 1px solid black;
    box-shadow: 2px 2px 5px gray;
}

.post{
    margin: 50px auto;
    width: 80%;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
#status{
    width: 90%;
}
button{
    width: 90px;
    border: none;
    color: white;
    background-color: #6F8FAF;
    padding: 5px;
}
.x{
    display: flex;
    align-items: center;
    justify-content: center;
}
.john{
    width: 80%;
    margin: 20px auto;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.head{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.eden{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.head-end{
    color: rgba(0, 0, 0, 0.336);
}

.avatar{
    width: 80px;
    border-radius: 50%;
}
.content{
    border-top: 1px solid rgba(10, 2, 2, 0.055);
    width: 100%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.sliki{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.lorem{
    margin-top: 20px;
}
.slika{
    width: 100%;
}
.action{
   margin-top: 10px;
}
.comment{
    width: 130px;
}
.desno{
    width: 90%;
    margin: 0 auto;
}
.events{
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px gray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.forest{
    width: 100%;
}
.holiday{
    margin-top: 20px;
}
.btn{
    width: 90%;
    background-color: rgba(128, 128, 128, 0.452);
}
.seen{
    align-self: flex-start;
    margin-top: 20px;
}
.posledna{
    width: 50%;
}
.kopcinja{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}
.btn-eden{
    width: 100%;
    color: white;
    background-color: rgba(0, 128, 0, 0.479);
    
}
.btn-dva{
    width: 100%;
    color: white;
    background-color: rgba(255, 0, 0, 0.418);
}
.ads{
  height: 100px;
}
.bug{
    height: 130px;
    font-size: 30px;
    margin-bottom: 20px;
}
.footer{
    width: 100%;
}
.footer1{
    background-color: #3a4b53;
    color: white;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.footer2{
    background-color: #263238;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}
a{
    color: white;
}




@media screen and (min-width: 768px) {
   main{
       display: flex;
   }
   .nav-item:hover{
    background-color: white;
}
    .golem{
        display: inline-block;
    }
    .mal{
        display: none;
    }
    .levo{
        width: 45%;
        margin: 0;
    }
    .profil{
        width: 100%;
        margin: 20px;
    }
    .my{
        width: 100%;
        margin: 20px;
    }
    .interests{
        width: 100%;
        margin: 20px;
        padding: 20px 10px;
        border-radius: 5px;
        box-shadow: 2px 2px 5px gray;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .sve{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
    }
    .sve div{
        border: 1px solid black;
        padding: 1px 6px;
    }
    .div1{
        background-color: rgba(0, 0, 0, 0.829);
        color: white;
    }
    .div2{
        background-color: rgba(0, 0, 0, 0.719);
        color: white;
    }
    .div3{
        background-color: rgba(0, 0, 0, 0.61);
        color: white;
    }
    .div4{
        background-color: rgba(0, 0, 0, 0.459);
        color: white;
    }
    .div5{
        background-color: rgba(0, 0, 0, 0.308);
        color: white;
    }
    .div6{
        background-color: rgba(5, 51, 51, 0.479);
        color: white;
    }
    .div7{
        background-color: rgba(5, 51, 51, 0.226);
        color: white;
    }
    .div8{
        background-color: rgba(5, 51, 51, 0.336);
        color: black;
    }
    .div9{
        background-color: rgba(5, 51, 51, 0.137);
        color: black;
    }
    .div10{
        background-color: rgba(128, 128, 128, 0.178);
        color: black;
    }
    .hey{
        width: 100%;
        margin: 0 20px;
        padding: 20px 10px;
        border: 1px solid gray;
        border-radius: 5px;
        box-shadow: 2px 2px 1px rgba(128, 128, 128, 0.253);
        position: relative;
        background-color: rgba(128, 128, 128, 0.432);
    }
    .x{
        width: 40px;
        height: 30px;
        border: none;
        position: absolute;
        top: 0;
        right: 0;
        background-color: rgba(31, 43, 49, 0.158);
        border-top-right-radius: 5px;
    }
    .x:hover{
        background-color: white;
        color: black;
    }
    .post{
        margin: 20px auto;
    }
    
    .sliki{
        width: 100%;
        flex-direction: row;
        gap: 10px;
    }
    .slika{
        width: 50%;
    }
    .desno{
        width: 35%;
        margin-right: 20px;
    }
    .kopcinja{
        flex-direction: row;
        gap: 0;
    }
   
}